<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milledoni</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styleguide.css">
</head>
<header>
    <img class="logo-mobile" src="/assets/logomobiel.svg" alt="logo">
    <img class="logo-desktop" src="/assets/logodesktop.svg" alt="logo">

    <h2>Finding and sharing gifts ideas</h2>

    <h1>I'm looking for a gift for...</h1>

    <a href="">Create your list <img src="/assets/favourite.svg" alt=""></a>
    <a href=""><img src="/assets/profile.svg" alt=""></a>
</header>
</html>